body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    
    color: rgb(85,26,139); 
    /* text-decoration: none; */
}

main {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    color: #333;
}

/* form {
    max-width: 400px;
    margin: 0 auto;
} */

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    main {
        padding: 1em;
    }
}

/* main.css */

/* Add these styles to enhance the UI */

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.user-info {
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details ul {
    list-style: none;
    padding: 0;
}

.recipe-details li {
    margin-bottom: 5px;
}



/* recipy details.css */


#recipe-header {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.recipe-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.recipe-details p {
    margin: 0;
    line-height: 1.5;
}

.recipe-details strong {
    color: #333;
}

